
<!--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <header class="img-responsive" >
     
      <h1>Hotel Booking Application</h1>
  </header>
<main>

  <div  class="col-md-4"><img src="../assets/images/main.jpg "  width=300 height=400></div>
  <div class="col-md-8">-->
    <h3>Welcome to UI case study for Hotel Booking</h3>
    <p>This sample demostrates how to use Angular JS and Bootstrap to develop a Single Page Application</p>
    <ul >
      The key features of the App :
      <li>Search Hotels</li>
      <li>Choose Hotel</li>
      <li>Fill the required details</li>
      <li>Book Hotel</li>
    </ul>
    <br>
    <br>
    <p >
        <a [routerLink]="['search']"><h4>Start your case study experience</h4></a>
      <!--<a href="..\app\search-page\search-page.component.html">Start your case study experience</a>-->
      
      <!--<a [routerLink]="['SearchPage']"><h4>Start your case study experience</h4></a>
          
        <router-outlet></router-outlet>-->
      
    </p>

  <!--</div>
  <br>
  

</main>

<footer >Accenture &copy;2017 </footer>-->



