<div class="container" *ngIf="!passwordReset">
  <label>Enter the register email id :</label>
  <input type="email" id="emailValue" placeholder="username@abc.com" [(ngModel)]="emailVal1">
  <button  (click) ="resetPassword()">Submit</button>
  <div class="alert alert-danger" *ngIf="invalidEmail">Invalid email address </div>
</div>
<div *ngIf="passwordReset" class="alert alert-success col-md-offset-6" style="text-align : center">
  Temporary password has been sent to your registerd email  
</div>

